<!DOCTYPE html>
<html>
  <head>
    <title>TTS Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <%= render 'layouts/css' %>
      <%= render 'layouts/navbar' %>
      <div class="container">
      <%= yield %>
      </div>
  </body>
</html>